:root {
  --header-height: 80px;
  --secondary-color: #f65e36;
  --text-color: #222222;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-gray: #555555;
  --text-light-color: #666666;
  --secondary-font-size: 1.4rem;
  --primary-font-size: 1.6rem;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--text-color);
}
body::before {
  content: "";
  display: block;
  height: var(--header-height);
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
a:hover {
  color: var(--secondary-color);
}
img {
  border-style: none;
  vertical-align: middle;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 700;
}

/*=====================layout==========================*/
.container {
  margin: 0 auto;
  height: 100%;
  width: 100% !important;
  padding: 0 4.48rem;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 2rem;
  }
}
.container--md {
  max-width: calc(1520px + 8.96rem);
}
.container--sm {
  max-width: calc(1296px + 8.96rem);
}
/*========================Button==================================*/
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 115px;
  padding: 10px 16px;
  background-color: var(--white-color);
}
.btn.btn--primary {
  background-color: var(--dark-gray);
  color: var(--white-color);
  border-radius: 5px;
}

/*====================Responsive==================*/
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hide-on-mobile-tablet {
    display: none !important;
    visibility: visible;
  }
}

/*Svg*/
.svg-icon {
  display: inline-block;
  height: auto;
  color: inherit;
  vertical-align: middle;
}
.svg-fill {
  fill: currentColor;
  stroke: none;
}

/*Animation*/
.fadeIn {
  -webkit-animation: fadeIn 0.4s ease-in-out;
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
