.app {
  overflow: hidden;
}
/*
==================================================Header==================================================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: var(--header-height);
  border-bottom: 1px solid #f2f2f2;
  background-color: var(--white-color);
}
.header__inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__logo {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  color: var(--text-color);
}
.header__searchbar {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 15px;
  height: 4.7rem;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}
.header__search-wrap {
  display: flex;
  align-items: center;
}
.header__search {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  width: 300px;
}
.header__search--active {
  box-shadow: inset 0 0 0 2px rgb(0 0 0 / 14%);
  color: var(--black-color);
}
.header__search-icon {
  margin-right: 12px;
  font-size: var(--primary-font-size);
}
.header__search-input {
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--secondary-font-size);
  font-weight: 600;
  width: 100%;
}
.header__search-input::placeholder {
  color: var(--text-color);
}
.header__booking {
  font-size: var(--secondary-font-size);
  font-weight: 600;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__booking::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e7e7e7;
}
.header__booking-icon {
  color: var(--text-light-color);
  font-size: var(--primary-font-size);
  margin-right: 12px;
}
.header__search-btn {
  min-width: 0;
  padding: 0 2.1rem;
  height: 3.6rem;
  margin: 0 0.64rem;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu-link {
  display: block;
  padding: 5px 10px;
  font-size: var(--secondary-font-size);
  font-weight: 600;
}
.header__menu-link.is-become-host {
  position: relative;
}
.header__menu-link.is-become-host::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fb9236;
}
.header__menu-item + .header__menu-item {
  margin-left: 12px;
}
.header__dropdown-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 6px;
  border-radius: 15px;
  font-size: var(--secondary-font-size);
  font-weight: 600;
  letter-spacing: 1px;
}
.header__dropdown-selected {
  display: flex;
  align-items: center;
}
.header__dropdown-flag {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.header__menu-dropdow-caret {
  margin-left: 6px;
  font-size: var(--secondary-font-size);
}

/*============================Slide show==========================*/
.slide-show {
  margin: 42px 0;
}
.slide-show__item {
  display: block;
}
.slide-show__item img {
  border-radius: 20px;
}
.slide-show .slick-dots {
  display: flex !important;
  position: absolute;
  bottom: 10px;
  right: 36px;
}
.slide-show .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: none;
  outline: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
.slide-show .slick-active button {
  background-color: rgba(0, 0, 0, 0.5);
}

/*===================Greeting section==================*/
.section-greeting {
  margin-bottom: -20px;
}
.section-greeting__heading {
  font-size: 2.8rem;
  line-height: 1.25;
  margin-bottom: 20px;
}
.section-greeting__text {
  line-height: 1.5;
  margin-bottom: 6px;
  font-size: 1.6rem;
}
.section-greeting__link {
  text-decoration: underline;
  color: var(--text-color);
}
/*=============================Main Sections general================================*/
.section {
  margin-top: 6.4rem;
}
@media (min-width: 768px) and (max-width: 1399px) {
  .section {
    margin-top: 5.6rem;
  }
}
@media (max-width: 767px) {
  .section {
    margin-top: 3.2rem;
  }
}
.section__title {
  font-size: 2.4rem;
  line-height: 1.25;
}
.section__sub-title {
  color: var(--text-light-color);
  margin-top: 8px;
  line-height: 1.5;
  display: block;
}
.section .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 7px -4px #000;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .slick-arrow:hover {
  color: var(--secondary-color);
  box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
}
.section .slick-prev {
  left: -24px;
}
.section .slick-next {
  right: -24px;
}
@media (max-width: 1499px) {
  .section .slick-prev {
    left: -7px;
  }
  .section .slick-next {
    right: -7px;
  }
}
.slick-arow-icon {
  font-size: 1.5rem;
  color: var(--black-color);
}
.section .slick-arrow.slick-disabled {
  opacity: 0.5;
}

/*================================Location========================*/
.location__card-list {
  margin-top: 1.6rem;
  display: block;
}
@media (max-width: 767px) {
  .location__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 12px);
  }
}
.location__card-item {
  display: block;
  position: relative;
  overflow: hidden;
}
.location__card-item::before {
  content: "";
  display: block;
  padding-top: 125%;
}
.location__card-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.location__card-content {
  position: absolute;
  bottom: 2.4rem;
  left: 3.2rem;
}
@media (min-width: 768px) and (max-width: 1399px) {
  .location__card-content {
    bottom: 2.4rem;
    left: 2.4rem;
  }
}
@media (max-width: 767px) {
  .location__card-content {
    bottom: 0.8rem;
    left: 1.6rem;
  }
}
.location__card-title {
  font-size: 2.4rem;
  margin: 1.2rem 0 0.4rem;
  color: var(--white-color);
}
.location__card-more {
  color: rgba(255, 255, 255, 0.9);
}

.location__card-more b {
  font-weight: 600;
}

/*=============================Favour======================================*/
.favour__sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favour__readmore {
  color: var(--secondary-color);
}
.favour__readmore.favour__readmore--mobile {
  display: none;
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .favour__readmore.favour__readmore--mobile {
    display: inline-block;
  }
}
.favour__card-list {
  margin-top: 1.6rem;
  display: block;
}
@media (min-width: 992px) and (max-width: 1023px) {
  .favour__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 16px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .favour__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 12px);
  }
}
@media (max-width: 767px) {
  .favour__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.907 + 12px);
  }
}
.favour__card-item {
  display: block;
  position: relative;
  overflow: hidden;
}
.favour__card-item::before {
  content: "";
  padding-top: 53.475%;
}
@media (max-width: 767px) {
  .favour__card-item::before {
    padding-top: 43.71585%;
  }
}
.favour__card-item img {
  border-radius: 10px;
}

/*================================Suggest===============================*/
.suggest__card-list {
  display: block;
  margin-top: 1.6rem;
}
@media (min-width: 992px) and (max-width: 1023px) {
  .suggest__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 16px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .suggest__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 12px);
  }
}
@media (max-width: 767px) {
  .suggest__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.907 + 12px);
  }
}
.suggest__card-list .col:nth-child(even):hover .suggest__card-desc {
  color: var(--secondary-color);
}
.suggest__card-item {
  display: block;
  padding-top: 16px;
}
.suggest__card-img {
  padding-top: 62.5%;
  background-position: 50%;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}
.suggest__card-content {
  margin: 1.2rem 0 1.6rem;
  line-height: 1.5;
}
.suggest__card-title {
  font-size: 1.2rem;
  color: var(--text-light-color);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.suggest__card-desc {
  color: #151b26;
  margin-bottom: 1.6rem;
}

.section.suggest .slick-arrow {
  top: 40%;
}

/*======================================explore==========================================*/
.explore__card-list {
  display: block;
  margin-top: 1.6rem;
}
@media (max-width: 1023px) {
  .explore__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.907 + 12px);
  }
}
.explore__card-item {
  border-radius: 3px;
  overflow: hidden;
  padding-top: 62.5%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #eee;
  background-size: cover;
  position: relative;
}
.explore__card-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75%;
  display: block;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
}
.post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post__category {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 1.6rem;
  padding: 0.6rem 2.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.5;
}
.post__category:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.post__top,
.post__bottom {
  padding: 2.4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post__top {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .post__top {
    padding: 0.8rem;
  }
  .post__bottom {
    padding: 1.6rem;
  }
  .post__title {
    font-size: 1.6rem;
  }
}
.post__title {
  font-size: 2rem;
}
.post__title a {
  color: var(--white-color);
}

/*====================================Instruction===================================*/
.instruction__card-list {
  display: block;
  margin-top: 1.6rem;
}
@media (min-width: 992px) and (max-width: 1023px) {
  .instruction__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 16px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .instruction__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.47 + 12px);
  }
}
@media (max-width: 767px) {
  .instruction__card-list .slick-slide {
    width: calc((100vw - 4rem) * 0.907 + 12px);
  }
}
.instruction__card-item {
  display: block;
}
.instruction__card-img {
  padding-top: 55.5555556%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  border-radius: 3px;
  border-radius: 3px;
}

/*=====================================App intro===================================*/
@media (max-width: 767px) {
  .app-intro__action {
    margin: 0 56px;
  }
}
.app-intro {
  margin-top: 6.4rem;
}
@media (min-width: 768px) and (max-width: 1399px) {
  .app-intro {
    margin-top: 5.6rem;
  }
}
@media (max-width: 767px) {
  .app-intro {
    margin-top: 3.2rem;
  }
}
.app-intro__logo {
  width: 343px;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .app-intro__logo {
    width: 150px;
  }
}
.app-intro__heading {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 1.25;
}
.app-intro__text {
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: justify;
}
.app-intro__qr-code {
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 12px;
  margin-right: 12px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .app-intro__download-wrap {
    padding-bottom: 6px;
  }
}
@media (max-width: 767px) {
  .app-intro__download-wrap {
    padding-bottom: 24px;
  }
}
.app-intro__download {
  display: inline-block;
  margin-bottom: 36px;
}
@media (max-width: 1439px) {
  .app-intro__download {
    margin-bottom: 18px;
  }
}

/*==================================Footer===========================*/
.footer__top {
  padding: 4.8rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.footer__top-divide + .footer__top-divide {
  margin-top: 3rem;
}
.footer__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
@media (max-width: 991px) {
  .footer__title {
    margin-bottom: 1.6rem;
  }
}
.footer__text {
  font-size: var(--secondary-font-size);
  line-height: 1.5;
}
.footer__menu {
  margin-bottom: 0;
}
.footer__menu-link {
  display: block;
  padding: 6px 0;
  font-size: 1.4rem;
  user-select: none;
}

.footer__contact {
  display: flex;
  align-items: center;
}
.footer__contact-content {
  margin-left: 0.8rem;
}
.footer__contact-title {
  color: var(--black-color);
  font-size: var(--secondary-font-size);
}
.footer__contact-link {
  display: block;
}
.footer__contact:last-child {
  margin-top: 2.4rem;
}
.footer__app-download-wrap {
  margin-right: 2.4rem;
}
.footer__qr-code {
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 12px;
  margin-right: 12px;
}
.footer__app-download {
  display: block;
  margin-bottom: 1.6rem;
}
.footer__bank-card-list {
  display: flex;
  align-items: center;
}
.footer__certify-list {
  margin-right: 40px;
}
.footer__certify-link {
  display: block;
}
.footer__social-link {
  display: inline-block;
}
.footer__social-link + .footer__social-link {
  margin-left: 1.8rem;
}
@media (max-width: 767px) {
  .footer__bank-card {
    margin-top: 1.6rem;
  }
  .footer__certify,
  .footer__social {
    margin-top: 4.6rem;
  }
}
.footer__bottom {
  padding: 2.4rem 1.5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__bottom {
    background-color: #f6f6f6;
  }
}
.footer__bottom-text {
  font-size: var(--secondary-font-size);
  color: #999;
  padding: 0 0.8rem;
  line-height: 1.5;
}
.footer__bottom-text + .footer__bottom-text {
  margin-top: 0.6rem;
}

/*=====================float call===========================*/
.float-call {
  --left: 58%;
  --bottom: 55%;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 110px;
  background-color: transparent;
  z-index: 999;
}
.float-call:hover .float-call__around,
.float-call:hover .float-call__cicle {
  background-color: currentColor;
}
.float-call__around {
  position: absolute;
  bottom: var(--bottom);
  left: var(--left);
  width: 100px;
  height: 100px;
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.2;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-animation: floatCallAroundScale 2.3s ease-in-out infinite;
  animation: floatCallAroundScale 2.3s ease-in-out infinite;
}
.float-call__cicle {
  position: absolute;
  bottom: var(--bottom);
  left: var(--left);
  width: 60px;
  height: 60px;
  background: rgba(30, 30, 30, 0.1)
    url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R)
    no-repeat 50%;
  background-size: 30px 30px;
  background-color: #0066a6;
  opacity: 0.8;
  border-radius: 50%;
  -webkit-animation: floatCallCircleRotate 1s ease-in-out infinite;
  animation: floatCallCircleRotate 1s ease-in-out infinite;
}
@keyframes floatCallAroundScale {
  0% {
    transform: translate(-50%, 50%) scale(0.7) skew(1deg);
  }
  50% {
    transform: translate(-50%, 50%) scale(1) skew(1deg);
  }
  100% {
    transform: translate(-50%, 50%) scale(0.7) skew(1deg);
  }
}
@keyframes floatCallCircleRotate {
  0% {
    transform: translate(-50%, 50%) rotate(0) skew(1deg);
  }
  10% {
    transform: translate(-50%, 50%) rotate(-25deg) skew(1deg);
  }
  20% {
    transform: translate(-50%, 50%) rotate(25deg) skew(1deg);
  }
  30% {
    transform: translate(-50%, 50%) rotate(-25deg) skew(1deg);
  }
  40% {
    transform: translate(-50%, 50%) rotate(25deg) skew(1deg);
  }
  50% {
    transform: translate(-50%, 50%) rotate(0) skew(1deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(0) skew(1deg);
  }
}
